{%- if include.timeVal != "" -%}
  <span>
    {%- if include.verbose -%}
      {%- assign dayTxt = "&nbsp;days,&nbsp;" -%}
      {%- assign hourTxt = "&nbsp;hours,&nbsp;" -%}
      {%- assign minTxt = "&nbsp;minutes&nbsp;" -%}
    {%- else -%}
      {%- assign dayTxt = "&nbsp;d&nbsp;" -%}
      {%- assign hourTxt = "&nbsp;h&nbsp;" -%}
      {%- assign minTxt = "&nbsp;m&nbsp;" -%}
    {%- endif -%}
    {%- if include.timeVal >= 1440 -%}
      {%- assign dayVal = include.timeVal | divided_by: 1440 -%}
      {{ dayVal | append: dayTxt }}
    {%- endif -%}
    {%- if include.timeVal >= 60 -%}
      {%- assign hourVal = include.timeVal | modulo: 1440 | divided_by: 60 -%}
      {{ hourVal | append: hourTxt }}
    {%- endif -%}
    {%- assign minutesLeft = include.timeVal | modulo: 60 -%}
    {{ minutesLeft | append: minTxt }}
  </span>
{%- else -%}
  <span>Unsure</span>
{%- endif -%}