{%- if include.timeVal != "" -%}
  <span>
    {%- if include.verbose -%}
      {%- assign dayTxt = "&nbsp;days" -%}
      {%- assign hourTxt = "&nbsp;hours" -%}
      {%- assign minTxt = "&nbsp;minutes" -%}
    {%- else -%}
      {%- assign dayTxt = "d" -%}
      {%- assign hourTxt = "h" -%}
      {%- assign minTxt = "m" -%}
    {%- endif -%}

    {%- assign timesArray = '' | split: ',' -%}

    {%- if include.timeVal >= 1440 -%}
      {%- assign dayVal = include.timeVal | divided_by: 1440 -%}
      {%- assign dayVal = dayVal | append: dayTxt -%}
      {%- assign timesArray = timesArray | push: dayVal -%}
    {%- endif -%}
    {%- if include.timeVal >= 60 -%}
      {%- assign hourVal = include.timeVal | modulo: 1440 | divided_by: 60 -%}
      {%- assign hourVal = hourVal | append: hourTxt -%}
      {%- assign timesArray = timesArray | push: hourVal -%}
    {%- endif -%}
    {%- assign hasMinutes = include.timeVal | modulo: 60 -%}
    {%- if hasMinutes > 0 -%}
      {%- assign minutesLeft = include.timeVal | modulo: 60 -%}
      {%- if minutesLeft > 0 -%}
        {%- assign minutesLeft = minutesLeft | append: minTxt -%}
        {%- assign timesArray = timesArray | push: minutesLeft -%}
      {%- endif -%}
    {%- endif -%}

    {%- assign tempString = '' -%}
    {%- if timesArray.size >= 3 -%}
      {%- for time in timesArray -%}
        {% if forloop.last == true %}
          {%- if include.verbose -%}
            {%- assign joiner = ",&nbsp;and&nbsp;" -%}
          {% else %}
            {%- assign joiner = "&nbsp;" -%}
          {%- endif -%}
          {%- assign tempString = tempString | append: joiner | append:time -%}
        {% elsif forloop.first == true %}
          {%- assign tempString = tempString | append:time -%}
        {% else %}
          {%- if include.verbose -%}
            {%- assign joiner = ",&nbsp;" -%}
          {% else %}
            {%- assign joiner = "&nbsp;" -%}
          {%- endif -%}
          {%- assign tempString = tempString | append: joiner | append:time -%}
        {%- endif -%}
      {%- endfor -%}
    {%- elsif timesArray.size == 2 -%}
      {%- for time in timesArray -%}
        {% if forloop.last == true %}
          {%- if include.verbose -%}
            {%- assign joiner = "&nbsp;and&nbsp;" -%}
          {% else %}
            {%- assign joiner = "&nbsp;" -%}
          {%- endif -%}
          {%- assign tempString = tempString | append: joiner | append:time -%}
        {% else %}
          {%- assign tempString = tempString | append:time -%}
        {%- endif -%}
      {%- endfor -%}
    {%- elsif timesArray.size == 1 -%}
      {%- assign tempString = timesArray | join:'' -%}
    {%- endif -%}
    {{tempString}}
  </span>
{%- else -%}
  <span>Unsure</span>
{%- endif -%}