<style>
  .post-prev-next {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .arrow{
    white-space:nowrap; 
    overflow:hidden;
  }

  .arrow_prev{
    padding-left: 0.5em;
  }

  .arrow_next{
    padding-right: 0.5em;
  }
</style>

<div class="post-prev-next">
  <div>
    {%- if page.previous != nil -%}
      <a class="arrow arrow_prev" href="{{ site.baseurl }}{{ page.previous.url }}">&#8592;&nbsp;{{ page.previous.title }}</a>
    {%- endif -%}
  </div>
  {%- if (page.previous != nil) and (page.next != nil) -%}
    <div>&nbsp;|&nbsp;</div>
  {%- endif %}
  <div>
    {%- if page.next != nil -%}
      <a class="arrow arrow_next" href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}&nbsp;&#8594;</a>
    {%- endif -%}
  </div>
</div>