<div class="post-prev-next" style='display: flex; flex-direction: row; justify-content: space-between;'>
  <div>
    {%- if page.previous != nil -%}
      <a class="arrow_prev" href="{{ site.baseurl }}{{ page.previous.url }}" style='padding-left: 0.5em; white-space: nowrap; overflow:hidden;'>&#8592;&nbsp;{{ page.previous.title }}</a>
    {%- endif -%}
  </div>
  {%- if (page.previous != nil) and (page.next != nil) -%}
    <div>&nbsp;|&nbsp;</div>
  {%- endif %}
  <div>
    {%- if page.next != nil -%}
      <a class="arrow_next" href="{{ site.baseurl }}{{ page.next.url }}" style='padding-right: 0.5em; white-space: nowrap; overflow:hidden;'>{{ page.next.title }}&nbsp;&#8594;</a>
    {%- endif -%}
  </div>
</div>