---
---

@import "minima/skins/{{ site.minima.skin | default: 'dark' }}";
@import "minima/initialize";

$text-color: #bbbbbb;
$link-color: #79b8ff;
$badge-inactive: #365f80;
$badge-active:#3f7db1;
$svg-inactive: #1e3547;
$svg-active:#274c6b;
$container-bg: #353535;
$container-border: #79b8ff;

html {
  scroll-behavior: smooth;
}

th {
  text-align: center;
}

svg {
  fill: $text-color;
}

#badges{
  text-decoration: inherit;
  text-decoration-line: none;
}

#badges button{
  background-color: $badge-inactive;
  border: 3px solid $badge-inactive;
  border-radius: 5px;
  color: $text-color;
  padding: 2px;
  outline: none;
  margin: .4em;
  transition: border 0.3s, background-color 0.3s;
  cursor: pointer;
}

#badges button:hover{
  border: 3px solid $badge-active;
  background-color: $badge-active;
}

#badges svg{
  vertical-align: middle;
  display: inline-block;
}

#badges svg path{
  fill: $svg-inactive;
  transition: fill 0.3s;
}

#badges button:hover svg path{
  fill: $svg-active;
}

#badges text{
  vertical-align: middle;
  display: inline-block;
}

.nav-icon {
  text-decoration: none !important;
  vertical-align: middle;
}

.nav-icon svg path {
  fill: $badge-active;
  transition: fill 0.3s;
}

.nav-icon svg:hover path {
  fill: $link-color;
}

.bounce svg:hover path {
  animation: bounce 1s;
}

.inlineElem {
  vertical-align: middle;
  display: inline-block;
}

.inlineElem svg{
  vertical-align: middle;
  display: inline-block;
}

#search-container input{
  width: 93%;
  border: 2px solid $container-border;
  border-radius: 10px;
  background-color: $container-bg;
  color: $text-color;
  padding: 10px;
  margin-left: calc(3.5% - 12px);
  outline: none;
}

#hdr-query{
  width:8em;
  border: 2px solid $container-border;
  border-radius: 5px;
  background-color: $container-bg;
  color: $text-color;
  padding: 5px;
  outline: none;
}

.nullAnchor{
  color: inherit;
  pointer-events: none;
  text-decoration: none;
}

.dt-published, .dt-modified, .author-span, .time-to-read {
  white-space: nowrap;
}

.post-prev-next {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.post-prev-next a{
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: inherit;
  cursor: pointer;
}

.post-prev-next a button{
  width: 45%;
  flex: 1 1 100%;
  margin: 1.2em;
  padding: 1.2em;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: $container-border;
  background-color: $container-bg;
  cursor: pointer;
  color: inherit;
  outline: none;
}

.nav-btn-smaller a button {
  padding: 0.5em;
  border-radius: 10px;
}

.post-prev-next .arrow_prev{
  float: left;
}

.post-prev-next .arrow_next{
  float: right;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}

	80% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
}