---
---

/* Import the base Minima dark theme */
@import "minima/skins/{{ site.minima.skin | default: 'dark' }}";
@import "minima/initialize";

/* Color variables */
$bg: #181818;
$text-color: #E3E3E3;
$link-color: #79b8ff;
$badge-inactive: #365f80;
$badge-active:#3f7db1;
$svg-inactive: #1e3547;
$svg-active:#274c6b;
$interactive-default:#3f7db1;
$interactive-hover:#79b8ff;
$interactive-bg: #353535;
$sort-header: #365f80;
$sort-text: #E3E3E3;
$sort-arrow: #79b8ff;

/* Timing variables */
$transition-time: 0.3s;

/* Global elements */
html {
  scroll-behavior: smooth;
}

th {
  text-align: center;
}

svg {
  fill: $text-color;
}

select {
  margin: 0px 0px 8px 10px;
  width: 26px;
  padding: 10px;
  height: 26px;
  vertical-align: bottom;
  border: 2px solid $interactive-default;
  border-radius: 50%;
  background-color: $bg;
  color: $text-color;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url({{site.baseurl}}/assets/images/icons/flat-funnel.ico) 50% / 75% no-repeat #181818;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  transition: $transition-time;
}

select:hover, select:focus {
  transform: scale(1.05);
  border: 2px solid $interactive-hover;
}

/* Class for screen reader elements */
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

/* Skills table */
.nullAnchor{
  color: inherit;
  pointer-events: none;
  text-decoration: none;
}

.sortable {
  cursor: pointer;
}

.sortingBy {
  background-color: $sort-header;
  color: $sort-text;
}

.sortingBy i {
  border: solid $sort-arrow;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.sortAsc i{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.sortDesc i{
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/* Tag, Skill, and Category badges */
.badges{
  text-decoration: none !important;
}

.badges button{
  background-color: $badge-inactive;
  border: 3px solid $badge-inactive;
  border-radius: 5px;
  color: $text-color;
  padding: 2px;
  outline: none;
  margin: .4em;
  transition: border $transition-time, background-color $transition-time;
  cursor: pointer;
}

.badges button:hover{
  border: 3px solid $badge-active;
  background-color: $badge-active;
}

.badges svg{
  vertical-align: middle;
  display: inline-block;
}

.badges svg path{
  fill: $svg-inactive;
  transition: fill $transition-time;
}

.badges button:hover svg path{
  fill: $svg-active;
}

.badges text{
  vertical-align: middle;
  display: inline-block;
}

/* Navigation Elements */
.navContents {
  text-align: center;
}

.nav-icon {
  text-decoration: none !important;
  vertical-align: middle;
}

.nav-icon svg path {
  fill: $interactive-default;
  transition: fill $transition-time;
}

.nav-icon svg:hover path {
  fill: $interactive-hover;
}

.bounce svg:hover path {
  animation: bounce 1s;
}

.inlineElem {
  vertical-align: middle;
  display: inline-block;
}

.inlineElem svg{
  vertical-align: middle;
  display: inline-block;
}

/* Search bars */
#search-container input{
  width: 93%;
  border: 2px solid $interactive-default;
  border-radius: 10px;
  background-color: $bg;
  color: $text-color;
  padding: 10px;
  margin-left: calc(3.5% - 12px);
  outline: none;
  transition: $transition-time;
}

#hdr-query{
  width:8em;
  border: 2px solid $interactive-default;
  border-radius: 5px;
  background-color: #181818;
  color: $text-color;
  padding: 5px;
  outline: none;
  transition: $transition-time;
}

#hdr-query:focus, #search-container input:focus{
  border: 2px solid $interactive-hover;
  background-color: $interactive-bg;
}

/* Blog Elements */
.dt-published, .dt-modified, .author-span, .time-to-read, .nobreak {
  white-space: nowrap;
}

/* Blog images */
.bimage {
  text-align: center;
}

.bimage img {
  vertical-align: bottom;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

/* Blog navigation */
.post-prev-next {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.post-prev-next a{
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: inherit;
  cursor: pointer;
}

.post-prev-next a button{
  width: 45%;
  flex: 1 1 100%;
  margin: 1.2em;
  padding: 1.2em;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: $interactive-default;
  background-color: $bg;
  cursor: pointer;
  color: inherit;
  outline: none;
  transition: $transition-time;
}

.post-prev-next a button:hover {
  border-color: $interactive-hover;
  background-color: $interactive-bg;
}

.nav-btn-smaller a button {
  padding: 0.5em;
  border-radius: 10px;
}

.post-prev-next .arrow_prev{
  float: left;
}

.post-prev-next .arrow_next{
  float: right;
}

/* Animations */
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40%, 80% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
}