---
---

@import "minima/skins/{{ site.minima.skin | default: 'dark' }}";
@import "minima/initialize";

html {
  scroll-behavior: smooth;
}

th {
  text-align: center;
}

#badges{
  cursor: pointer;
  text-decoration: inherit;
  text-decoration-line: none;
}

#badges button{
  border: 3px solid #365f80;
  border-radius: 5px;
  background-color: #365f80;
  color: #bbbbbb;
  padding: 2px;
  outline: none;
  margin: .4em;
  pointer-events: none;
}

#badges svg{
  fill: #1b3041;
  vertical-align: middle;
  display: inline-block;
}

#badges text{
  vertical-align: middle;
  display: inline-block;
}

#search-container input{
  width: 90%;
  border: 2px solid #6EBDFF;
  border-radius: 10px;
  background-color: #353535;
  color: #bbbbbb;
  padding: 10px;
  outline: none;
}

.nullAnchor{
  pointer-events: none;
  cursor: default;
  color: inherit;
  text-decoration: inherit;
}

.dt-published, .dt-modified, .author-span, .time-to-read {
  white-space: nowrap;
}

.post-prev-next {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.post-prev-next a{
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: inherit;
}

.post-prev-next a button{
  width: 45%;
  flex: 1 1 100%;
  margin: 1.2em;
  padding: 1.2em;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #79b8ff;
  background-color: #353535;
  color: inherit;
  outline: none;
}

.post-prev-next .arrow_prev{
  float: left;
}

.post-prev-next .arrow_next{
  float: right;
}