---
layout: page
title: Stats
exclude: false
permalink: /stats/
jsfiles:
cssfiles:
---

{%- comment -%}
=======================
Variables to control stat collection
=======================
{%- endcomment -%}

{%- assign loggedSkillsCt = 5 -%}
{%- assign percThreshold = 0.034 -%}
{%- assign topRefCt = 5 -%}

<h2 id="toc">
  Contents
</h2>
<ol>
  <li>
    <a href="#top-skills">Top Logged Skills</a>
  </li>
  <li>
    <a href="#skill-pie">Logged Skills Distribution</a>
  </li>
  <li>
    <a href="#total-time">Total Time Logged</a>
  </li>
  <li>
    <a href="#words">Words</a>
  </li>
  <li>
    <a href="#ave-post-time">Average Time Between Posts</a>
  </li>
  <li>
    <a href="#posts-by-type">Total Posts By Type</a>
  </li>
  <li>
    <a href="#top-references">Top Used References</a>
  </li>
</ol>

{%- comment -%}
=======================
Reuse all extracted data from our generated search.json file for use on this page
=======================
{%- endcomment -%}

{%- assign layouts = '' | split: ','-%}
{%- assign dates = '' | split: ',' -%}
{%- assign times = '' | split: ',' -%}
{%- assign wordcount = '' | split: ',' -%}
{%- assign reflist = '' | split: ',' -%}

{% for stat in site.data.search %}

  {%- if stat.layout != "" -%}
    {%- assign layouts = layouts | push: stat.layout -%}
  {%- endif -%}

  {%- if stat.datetime != "" -%}
    {%- assign dates = dates | push: stat.datetime -%}
  {%- endif -%}

  {%- if stat.timespent != "" -%}
    {%- assign times = times | push: stat.timespent -%}
  {%- endif -%}

  {%- if stat.words != "" -%}
    {%- assign wordcount = wordcount | push: stat.words -%}
  {%- endif -%}

  {%- if stat.references != "" -%}
    {%- assign references = stat.references | split: ',' -%}
    {%- assign reflist = reflist | concat: references -%}
  {%- endif -%}

{%- endfor -%}

{%- comment -%}
=======================
Actual data output to the page
=======================
{%- endcomment -%}

<h2 id="top-skills">
  Top Logged Skills
  {%- include return-to-top.html target="toc" -%}
</h2>

{%- assign sortSkills = site.data.skills | sort: "time" | reverse -%}

<ol>
  {%- for skill in sortSkills limit:loggedSkillsCt-%}
    <li>
      <a href="/learning-log/skills#{{ skill.name }}" >
        <strong>{{ skill.name }}</strong>
      </a>
    </li>
  {%- endfor -%}
</ol>


<h2 id="skill-pie">
  Logged Skills Distribution
  {%- include return-to-top.html target="toc" -%}
</h2>

{%- assign allSkillTime = 0 -%}
{%- for skill in sortSkills -%}
  {%- assign allSkillTime = allSkillTime | plus: skill.time -%}
{%- endfor -%}
{%- assign allSkillTime = allSkillTime | times: 1.0 -%}

{%- assign skillNameCluster = '' -%}
{%- assign skillTimeCluster = 0 -%}

{%- include mermaid-init.html -%}
<div class="mermaid">
  pie
    {%- for skill in sortSkills -%}
      {%- assign skillperc = skill.time | divided_by: allSkillTime  -%}
      {%- if skillperc <= percThreshold -%}
        {% if skillNameCluster == '' %}
          {%- assign skillNameCluster = skillNameCluster | append: skill.name -%}
        {% else %}
          {%- assign skillNameCluster = skillNameCluster | append: ", " | append: skill.name -%}
        {% endif %}
        {%- assign skillTimeCluster = skillTimeCluster | plus: skill.time -%}
      {% else %}
        {% assign skillint = skillperc | times: 100 | round %}
        "{{skillint}}% - {{skill.name}}" : {{skill.time}}
      {% endif %}
    {%- endfor -%}
    {% if skillTimeCluster > 0 %}
      {%- assign skillclusterperc = skillTimeCluster | divided_by: allSkillTime | times: 100 | round -%}
      "{{skillclusterperc}}% - other*" : {{skillTimeCluster}}
    {% endif %}
</div>
{% if skillTimeCluster > 0 %}
  <div style="float:right">
    *{{skillNameCluster}}
  </div>
{% endif %}

<h2 id="total-time">
  Total Time Logged
  {%- include return-to-top.html target="toc" -%}
</h2>

{%- for time in times -%}
  {%- assign timeSum = timeSum | to_integer | plus:time -%}
{%- endfor -%}

{%- capture prettyTotalTime -%}
  {%- include min-to-time.html timeVal=timeSum verbose=true -%}
{%- endcapture -%}

<ul>
  <li>
    <strong>{{ prettyTotalTime }}</strong> has been logged to skill development to date
  </li>
</ul>

<br/><br/>
<h2 id="words">
  Words
  {%- include return-to-top.html target="toc" -%}
</h2>

{%- for counts in wordcount -%}
  {%- assign wordSum = wordSum | plus:counts -%}
{%- endfor -%}

{%- assign aveSum = wordSum | divided_by: wordcount.size -%}

<ul>
  <li>
    <strong>{{ wordSum }}</strong> total words typed across all posts
  </li>
  <li>
    That's roughly <strong>{%- include time-to-read.html output="time" rawcount=wordSum -%}</strong> minutes of reading
  </li>
  <li>
    Each post is an average length of <strong>{{ aveSum }}</strong> words
  </li>
</ul>

{%- comment -%}
=======================
The following section analyzes the word content of all posts for Readability Ease
https://readabilityformulas.com/flesch-reading-ease-readability-formula.php
My method is most likely pretty inaccurate, due to this being a coding blog
Seems like that would figure, huh? Whoops.
=======================
{%- endcomment -%}

{%- assign ReadabilityEase = 0.0 -%}
{%- assign ASL = 0.0 -%}
{%- assign ASW = 0.0 -%}

{%- assign allContent = '' | split: ',' -%}
{%- assign splitContent = '' | split: ',' -%}
{%- for post in site.posts -%}
  {%- assign postContent = post.content | strip_html | strip_newlines | strip | normalize_whitespace -%}
  {%- assign splitContent = postContent | split: "Tasklist" -%}
  {%- assign isolatedContent = splitContent[0] -%}
  {%- if isolatedContent contains "[" -%}
    {%- assign extractedContent = p.content | split: "[" | last | split: "]" | first -%}
  {%- else -%}
    {%- assign extractedContent = isolatedContent -%}
  {%- endif -%}
  {%- assign cleanedContent = extractedContent | replace: "...", " " | replace: "[", "" | replace: "]", "" | replace: "(", "" | replace: ")", "" | replace: "/", " " | replace: "\", " " | replace: "_", ""| replace: ":", "" | replace: ",", "" | remove_first: "Journal" -%}
  {%- assign allContent = allContent | push: cleanedContent -%}
{%- endfor -%}
{%- assign bigContent = allContent | array_to_sentence_string: " " -%}
{%- assign allSentences = bigContent | split: '.' -%}
{%- assign sentenceSum = allSentences.size -%}

{%- assign ASL = wordSum | divided_by: sentenceSum -%}
{%- assign ASLf = ASL | times: 1.015 -%}

{%- comment -%}
vvvvv   Currently stopped below   vvvvv
{%- endcomment -%}

{%- assign syllableCount = 0 -%}
{%- assign allWords = bigContent | replace: '.', ' ' | split: ' ' -%}
{%- for word in allWords -%}
  {%- assign letters = word | split: '' -%}
  {%- assign vowels = 'aeiouy' -%}
{%- endfor -%}
{%- assign ASW = syllableSum | divided_by: wordSum -%}
{%- assign ASWf = ASW | times: 84.6 -%}

{%- assign ReadabilityEase = 206.835 | minus: ASLf | minus: ASWf -%}

<br/><br/>
<h2 id="ave-post-time">
  Average Time Between Posts
  {%- include return-to-top.html target="toc" -%}
</h2>

{%- comment -%}
=======================
Discard dateDiff values over 10 years old
This may eventually be an issue???
=======================
{%- endcomment -%}

{%- assign sortDates = dates | sort -%}
{%- assign dateDiffs = '' | split: "," -%}
{%- for date in dates -%}
  {%- assign nextPosition = forloop.index0 | plus: 1 -%}
  {%- assign date1 = date | date: '%s' -%}
  {%- assign date2 = dates[nextPosition] | date: '%s' -%}
  {%- assign dateDiff = date1 | minus: date2 -%}
  {%- if dateDiff < 315569520 -%}
    {%- assign dateDiffs = dateDiffs | push: dateDiff -%}
  {%- endif -%}
{%- endfor -%}

{%- for diff in dateDiffs -%}
  {%- assign diffSum = diffSum | to_integer | plus:diff -%}
{%- endfor -%}

{%- assign aveDiv = dateDiffs | size -%}
{%- if aveDiv > 0 -%}
  {%- assign diffAve = diffSum | divided_by: aveDiv -%}
  {%- assign diffAve = diffAve | divided_by: 60 -%}
{%- endif -%}

{%- capture prettyDiffTime -%}
  {%- include min-to-time.html timeVal=diffAve verbose=true -%}
{%- endcapture -%}

{%- assign streakDates = '' | split: ',' -%}
{% for stat in site.data.search %}
  {%- if stat.datetime != "" -%}
    {%- assign streakDate = stat.datetime | date: '%Y%j' -%}
    {%- assign streakDates = streakDates | push: streakDate -%}
  {%- endif -%}
{%- endfor -%}

{%- assign streakDates = streakDates | sort -%}

{%- assign streak = false -%}
{%- assign streakCounter = 0 -%}
{%- assign streaks = '' | split: ',' -%}
{%- assign gaps = '' | split: ',' -%}

{%- for sDate in streakDates -%}
  {% if forloop.last %}
    {% if streak == true %}
      {%- assign streaks = streaks | push: streakCounter -%}
    {% endif %}
  {% elsif forloop.first != true %}
    {%- assign lastPostIndex = forloop.index0 | minus: 1 -%}
    {%- assign lastPost = streakDates[lastPostIndex] -%}
    {%- assign postDiff = sDate | minus: lastPost -%}

    {% if postDiff <= 1 %}
      {% if postDiff == 1 %}
        {% if streak == false %}
          {%- assign streak = true -%}
          {%- assign streakCounter = 1 -%}
        {% elsif streak == true %}
          {%- assign streakCounter = streakCounter | plus: 1 -%}
        {% endif %}
      {% endif %}
    {% elsif postDiff >= 365 %}
      {% if streak == false %}
        {%- assign streak = true -%}
        {%- assign streakCounter = 1 -%}
      {% elsif streak == true %}
        {%- assign streakCounter = streakCounter | plus: 1 -%}
      {% endif %}
    {% else %}
      {%- assign gaps = gaps | push: postDiff -%}
      {% if streak == true %}
        {%- assign streaks = streaks | push: streakCounter -%}
        {%- assign streak = false -%}
        {%- assign streakCounter = 0 -%}
      {% endif %}
    {% endif %}
  {% endif %}
{%- endfor -%}

{%- assign streaks = streaks | sort | reverse -%}
{%- assign gaps = gaps | sort | reverse -%}

<ul>
  <li>
    One post is published an average of every <strong>{{ prettyDiffTime }}</strong>
  </li>

  <li id="lastPosting" hidden="true">
    The latest entry was posted approximately <strong id="lastPostingTime"></strong> ago
  </li>

  {% if streaks[0] != nil %}
    <li>
      The longest daily posting streak lasted <strong>{{streaks[0]}}</strong> days!
    </li>
  {% endif %}

  {% if gaps[0] != nil %}
    <li>
      The longest gap between posts was <strong>{{gaps[0]}}</strong> days
    </li>
  {%- else -%}
    <li>
      <strong>I have not yet missed a single day of posts!</strong> We'll see how long that lasts!
    </li>
  {% endif %}

  {% if streak %}
    <li>
      <strong>There is an active streak right now!</strong> Want to sign up for my <a href='{{ site.baseurl }}/feed.xml''>RSS feed</a>? 😊
    </li>
  {% endif %}
</ul>

{%- assign latestDates = sortDates | reverse -%}
{%- assign latestDate = latestDates[0] | date: '%s' -%}
{%- assign latestMS = latestDate | times: 1000 -%}

{%- assign latestFallback = latestDates[1] | date: '%s' -%}
{%- assign fallbackMS = latestFallback | times: 1000 -%}

<script>
  // since we can't capture the current time with Liquid,
  // we need to determine the time difference with javascript,
  // and then inject the new time into the lastPostingTime element
  // while unhiding the hidden flag on the parent elem

  function msToTime(time) {
    let temptime = (time - (time % 1000)) / 1000;
    let secs = temptime % 60;
    temptime = (temptime - secs) / 60;
    let mins = temptime % 60;
    temptime = (temptime - mins) / 60;
    let hrs = temptime % 24;
    let dys = (temptime - hrs) / 24;

    let dysStr = dys > 0 ? dys + ' days' : null;
    let hrsStr = hrs > 0 ? hrs + ' hours' : null;
    let minsStr = mins > 0 ? mins + ' minutes' : null;
    let secsStr = secs > 0 ? secs + ' seconds' : null;

    let timeArr = [dysStr, hrsStr, minsStr, secsStr];
    let truncArr = timeArr.filter(Boolean);
    let lastIndex = truncArr.length - 1;
    
    truncArr[lastIndex] = lastIndex > 0 ? 'and ' + truncArr[lastIndex] : truncArr[lastIndex];

    return timeStr = truncArr.join(", ");
  }
  
  let currentTime = Date.now();
  let ref = {{ latestMS }};
  let timeDiff = currentTime - ref;

  // When I'm editing or have a future post, this will let us reference one post further back
  if (timeDiff < 0) {
    ref = {{ fallbackMS }};
    timeDiff = currentTime - ref;
  }

  if (timeDiff > 0) {
    let bulElem = document.getElementById("lastPosting");
    let timeElem = document.getElementById("lastPostingTime");
    bulElem.removeAttribute("hidden");
    timeElem.innerHTML = msToTime(timeDiff);
  }
</script>

<br/><br/>
<h2 id="posts-by-type">
  Total Posts By Type
  {%- include return-to-top.html target="toc" -%}
</h2>

{%- assign layoutCounts = '' | split: ',' -%}
{%- assign uniqLayouts = layouts | uniq -%}
{%- for uniqLayout in uniqLayouts -%}
  {%- assign layoutCount = 0 -%}
  {%- for layout in layouts -%}
    {%- if layout == uniqLayout -%}
      {%- assign layoutCount = layoutCount | plus: 1 -%}
    {%- endif -%}
  {%- endfor -%}
  {%- assign layoutCounts = layoutCounts | push: layoutCount -%}
{%- endfor -%}

<ul>
{%- for dispLayout in uniqLayouts -%}
  {% assign position = forloop.index0 %}
    <li>
      <a href="/learning-log/categories#{{ dispLayout }}" >
        <strong>{{ dispLayout | capitalize }}s:</strong>
      </a>
      &nbsp;&nbsp;&nbsp;{{ layoutCounts[position] }}
    </li>
{%- endfor -%}
</ul>

<br/><br/>

<h2 id="top-references">
  Top Used References
  {%- include return-to-top.html target="toc" -%}
</h2>

{%- assign uniqReflist = reflist | uniq -%}
{%- assign refCounts = '' | split: ',' -%}
{%- assign uniqReflist = reflist | uniq -%}
{%- for uniqRef in uniqReflist -%}
  {%- assign refCount = 0 -%}
  {%- for ref in reflist -%}
    {%- if ref == uniqRef -%}
      {%- assign refCount = refCount | plus: 1 -%}
    {%- endif -%}
  {%- endfor -%}
  {%- assign refString = refCount | append: "," -%}
  {%- assign refString = refString | append: uniqRef -%}
  {%- assign refCounts = refCounts | push: refString -%}
  {%- assign refCounts = refCounts | sort | reverse -%}
{%- endfor -%}
<ol>
  {%- if topRefs == 0 -%}
    <li>
      <strong>TBD</strong>
    </li>
  {%- else -%}
    {%- for dispRefs in refCounts limit:topRefCt -%}
      {% assign splitRefs = dispRefs | split: "," %}
        <li>
          (<strong>{{ splitRefs[0] }}</strong> times)&nbsp;&nbsp;-&nbsp;
          <a href={{ splitRefs[1] }}>{{ splitRefs[1] | truncate: 40 }}</a>
        </li>
    {%- endfor -%}
  {%- endif -%}
</ol>
