---
layout: page
title: Tasks
exclude: false
permalink: /todo/
jsfiles:
cssfiles:
---

{%- assign lonerSkills = '' | split:',' -%}
{%- assign sortSkills = site.data.skills | sort: "name" -%}

{%- for skill in sortSkills -%}
  {%- for skillPage in site.skills -%}
    {%- assign skillFound = false -%}
    {%- assign skillPN = skillPage.name | downcase -%}

    {%- if skill.name == skillPN -%}
      {%- assign skillFound = true -%}
      {% break %}
    {%- endif -%}

    {%- if forloop.last == true -%}
      {%- if skillFound == false -%}
        {%- assign lonerSkills = lonerSkills | push:skill.name -%}
      {%- endif -%}
    {%- endif -%}

  {%- endfor -%}
{%- endfor -%}

<h2 id="toc">
  Contents
</h2>
<ol>
  <li>
    <a href="#learning-items">Learning Items</a>
  </li>
  <li>
    <a href="#blogs">Blogs</a>
  </li>
  {% if lonerSkills.size > 0 %}
  <li>
    <a href="#skills">Skills</a>
  </li>
  {% endif %}
  <li>
    <a href="#sleep-quality">Sleep Quality</a>
  </li>
  <li>
    <a href="#improvements">Blog Improvements</a>
  </li>
  <li>
    <a href="#freecodecamp">FreeCodeCamp</a>
  </li>
</ol>

<h2 id="learning-items">
  Learning Items
  {%- include return-to-top.html target="toc" -%}
</h2>

{%- comment -%}
=======================
Variables to control task collection
=======================
{%- endcomment -%}

{%- assign learnSkillLimit = 2 -%}

{%- assign suggSkillSample = 3 -%}
{%- assign suggTaskSample = 4 -%}
{%- assign suggSplitEven = true -%}

{%- assign sleepTarget = 390 -%}
{%- assign sleepMin = 360 -%}
{%- assign sleepAveDays = 3 -%}

{%- comment -%}
=======================
Collect data from all skill pages
=======================
{%- endcomment -%}

{%- assign todoCounter = 0 -%}
{%- assign tasksPicked = 0 -%}
{%- assign openTasks = '' | split: ',' -%}
{%- assign openTaskSkills = '' | split: ',' -%}

{%- for skillPage in site.skills -%}

  {%- if skillPage.progressionEntries != null -%}

    {%- assign itemsIP = '' | split: ',' -%}
    {%- assign itemsUN = '' | split: ',' -%}
    {%- assign itemsNS = false -%}

    {%- for progEntries in skillPage.progressionEntries -%}

      {%- assign entryStatus = progEntries.status | upcase -%}

      {%- if entryStatus == 'IP' -%}
        {%- assign itemsIP = itemsIP | push:progEntries.id -%}
      {%- elsif entryStatus == 'UN' -%}
        {%- assign itemsUN = itemsUN | push:progEntries.id -%}
      {%- elsif entryStatus == 'NS' -%}
        {%- assign itemsNS = true -%}
        {%- assign unstartedTask = skillPage.name | append: "," | append: progEntries.id | append: "," | append: progEntries.name -%}
        {%- assign openTasks = openTasks | push:unstartedTask -%}
      {%- endif -%}

    {%- endfor -%}

    {%- for item in itemsIP -%}
      {%- assign todoCounter = todoCounter | plus: 1 -%}
    {%- endfor -%}
    {%- for item in itemsUN -%}
      {%- assign todoCounter = todoCounter | plus: 1 -%}
    {%- endfor -%}

    {%- if itemsNS -%}
      {%- assign openTaskSkills = openTaskSkills | push: skillPage -%}
    {%- endif -%}

    {% if forloop.last == true %}
      <div id="todoIntro">
        {%- if todoCounter == 0 -%}
          No tasks currently marked as up next!<br/><br/>

          {%- assign suggTaskLimit = suggTaskSample -%}

          {%- if suggSplitEven -%}
            {%- assign floatSkillSample = suggSkillSample | times: 1.0 -%}
            {%- assign perSkillLimit = suggTaskSample | divided_by:floatSkillSample -%}
            {%- assign suggTaskLimit = perSkillLimit | round -%}
          {%- endif-%}

          {%- assign cleanedTaskSkills = openTaskSkills | uniq | sort: "name" -%}
          {%- assign randomTaskSkills = cleanedTaskSkills | sample: suggSkillSample -%}

          {%- if randomTaskSkills != nil -%}
            <div>Why not try starting one of these?</div>
            <ul>
              {%- for randomTaskSkill in randomTaskSkills -%}

                {%- assign sTasks = '' | split:"," -%}

                {%- for openTask in openTasks -%}
                  {% if openTask contains randomTaskSkill.name %}
                    {%- assign splitTask = openTask | split:"," -%}
                    {%- assign sTaskID = splitTask[1] | to_integer -%}
                    {%- assign sTaskName = splitTask[2] -%}

                    {% if sTaskID < 10 %}
                      {%- assign sTaskID = "0" | append:sTaskID -%}
                    {%- endif-%}

                    {%- assign sTask = sTaskID | append:"," | append:sTaskName -%}
                    {%- assign sTasks = sTasks | push:sTask -%}
                  {% endif %}
                {%- endfor -%}

                {%- assign sTasks = sTasks | sort -%}

                {% if tasksPicked < suggTaskSample %}
                  <strong>{{randomTaskSkill.name}}</strong>
                {% endif %}

                {% if tasksPicked < suggTaskSample %}
                  <script>console.log("check: {{tasksPicked}} < {{suggTaskSample}} ")</script>
                  {%- assign skillTPicked = 0 -%}
                  {%- for sampleTask in sTasks -%}
                    {%- if skillTPicked < suggTaskLimit and tasksPicked < suggTaskSample -%}
                      {%- assign sampTask = sampleTask | split:"," -%}
                      {%- assign sampleTaskID = sampTask[0] -%}
                      {%- assign sampleTaskName = sampTask[1] -%}
                      <li>
                        <a href="{{ site.baseurl }}/skills/{{ randomTaskSkill.name | downcase }}#{{ sampleTaskID }}">
                          {{randomTaskSkill.name}} #{{sampleTaskID}}: {{ sampleTaskName }}
                        </a>
                      </li>
                      {%- assign tasksPicked = tasksPicked | plus: 1 -%}
                      {%- assign skillTPicked = skillTPicked | plus: 1 -%}
                      <script>console.log("now: {{tasksPicked}}, {{skillTPicked}}")</script>
                    {%- endif -%}
                  {%- endfor -%}
                {% endif %}
              {%- endfor -%}
            </ul>
          {%- endif -%}
        {%- else -%}
          The following {{todoCounter}} learning items are marked as active:
        {%- endif -%}
      </div>
    {% endif %}
  {%- endif -%}
{%- endfor -%}

{%- assign learnSkillCount = 0 -%}
{%- for skillPage in site.skills -%}

  {%- if skillPage.progressionEntries != null -%}

    {%- assign itemsIP = '' | split: ',' -%}
    {%- assign itemsUN = '' | split: ',' -%}

    {%- for progEntries in skillPage.progressionEntries -%}

      {%- assign entryStatus = progEntries.status | upcase -%}

      {%- if entryStatus == 'IP' -%}
        {%- assign itemsIP = itemsIP | push:progEntries.id -%}
      {%- elsif entryStatus == 'UN' -%}
        {%- assign itemsUN = itemsUN | push:progEntries.id -%}
      {%- elsif entryStatus == 'NS' -%}
        {%- assign unstartedTask = skillPage.name | append: "," | append: progEntries.id | append: "," | append: progEntries.name -%}
        {%- assign openTasks = openTasks | push:unstartedTask -%}
      {%- endif -%}

    {%- endfor -%}

    {%- if itemsIP.size > 0 or itemsUN.size > 0 -%}
      {%- assign learnSkillCount = learnSkillCount | plus: 1 -%}

      {%- if learnSkillCount > learnSkillLimit -%}
        <div hidden=true class='hiddenLI'>
      {%- endif -%}

      <h3>{{ skillPage.fullname }}</h3>

      {%- if itemsIP.size > 0-%}
        In Progress:
        <ul>
          {%- for item in itemsIP -%}
            {% assign taskIPs = skillPage.progressionEntries | where: "id", item %}

            {%- for taskIP in taskIPs -%}
              <li>
                <a href="{{ taskIP.item }}" class="nav-icon inlineElem" alt="Go to task site" title="Go to task site">{%- include icons/open-in-new.svg -%}</a>
                <text class="inlineElem">
                  &nbsp;&nbsp;{{ taskIP.name }}&nbsp;
                  {%- if taskIP.type -%}
                    ({{ taskIP.type }})&nbsp;&nbsp;
                  {%- endif -%}
                </text>
                <a href="{{ site.baseurl }}/skills/{{ skillPage.name }}#{{ taskIP.id }}" class="nav-icon" alt="Jump to skill entry" title="Jump to skill entry">{%- include icons/link-variant.svg -%}</a>
              </li>
            {%- endfor -%}
          {%- endfor -%}
        </ul>
      {%- endif -%}

      {%- if itemsUN.size > 0-%}
        Up Next: 
        <ul>
          {%- for item in itemsUN -%}
            {% assign taskUNs = skillPage.progressionEntries | where: "id", item %}

            {%- for taskUN in taskUNs -%}
              <li>
                <a href="{{ taskUN.item }}" class="nav-icon inlineElem" alt="Go to task site" title="Go to task site">{%- include icons/open-in-new.svg -%}</a>
                <text class="inlineElem">
                  &nbsp;&nbsp;{{ taskUN.name }}&nbsp;
                  {%- if taskUN.type -%}
                    ({{ taskUN.type }})&nbsp;&nbsp;
                  {%- endif -%}
                </text>
                <a href="{{ site.baseurl }}/skills/{{ skillPage.name }}#{{ taskUN.id }}" class="nav-icon" alt="Jump to skill entry" title="Jump to skill entry">{%- include icons/link-variant.svg -%}</a>
              </li>
            {%- endfor -%}
          {%- endfor -%}
        </ul>
      {%- endif -%}
      {%- if learnSkillCount > learnSkillLimit -%}
        </div>
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{%- if learnSkillCount > learnSkillLimit -%}
  <a id='showLILink' style='cursor:pointer;' onclick="showLI()">(...show all Learning Items)</a>
  <a id='hideLILink' style='cursor:pointer;' onclick="hideLI()" hidden=true>(Condense Learning Item list ↑)</a>
{%- endif -%}

<script>
  function showLI() {
    var elements = document.getElementsByClassName("hiddenLI");
    var showLink = document.getElementById("showLILink");
    var hideLink = document.getElementById("hideLILink");

    showLink.setAttribute("hidden", "true");
    hideLink.removeAttribute("hidden");

    for(var i=0; i<elements.length; i++) {
      elements[i].removeAttribute("hidden");
    }
  }

  function hideLI() {
    var elements = document.getElementsByClassName("hiddenLI");
    var showLink = document.getElementById("showLILink");
    var hideLink = document.getElementById("hideLILink");

    hideLink.setAttribute("hidden", "true");
    showLink.removeAttribute("hidden");

    for(var i=0; i<elements.length; i++) {
      elements[i].setAttribute("hidden", "true");
    }
  }
</script>

<h2 id="blogs">
  Blogs
  {%- include return-to-top.html target="toc" -%}
</h2>

<div id="lastPostingTime"></div>

{%- assign dates = '' | split: ',' -%}

{% for stat in site.data.search %}
  {%- if stat.datetime != "" -%}
    {%- assign dates = dates | push: stat.datetime -%}
  {%- endif -%}
{%- endfor -%}

{%- assign dates = dates | sort | reverse -%}

{%- if dates.size > 0 -%}
  {%- assign date = dates[0] | date: '%s' -%}
  {%- assign dateMS = date | times: 1000 -%}
{%- endif -%}

<script>
  let currentTime = Date.now();
  let ref = {{ dateMS }};
  let timeDiff = currentTime - ref;
  const todayDiff = 86400000; // ms in a day

  if (timeDiff < 0) {
    timeDiff = timeDiff * -1; //normalize
  }

  const timeElem = document.getElementById("lastPostingTime");

  if (timeDiff > todayDiff) {
    timeElem.innerHTML = "There has been no blog posted today.<br/><br/>Try drafting up a post covering what projects you are currently working on!";
  } else {
    timeElem.innerHTML = "I found a blog posted within the past 24 hours. Great work!";
  }
</script>


{% if lonerSkills.size > 0 %}
  <h2 id="skills">
    Skills
    {%- include return-to-top.html target="toc" -%}
  </h2>
  <div>The following skills have log entries and time associated, but no matching progression datasheet:</div>
  <ul>
    {%- for lonerSkill in lonerSkills -%}
      <li>
        {{ lonerSkill }}
      </li>
    {%- endfor -%}
  </ul>
{% endif %}


{%- assign sleepSum = 0 -%}
{%- assign sleepEntryDays = 0 -%}
{%- assign sleepAve = 0 -%}
{%- assign prettySleepTime = 0 -%}

{% for entry in site.data.search %}
  {%- assign sleepVal = entry.sleep | plus:0 -%}
  {%- if sleepVal > 0 -%}
    {%- if entry.datetime != "" -%}
      {%- assign sleepSum = sleepSum | plus: sleepVal -%}
      {%- assign sleepEntryDays = sleepEntryDays | plus: 1 -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{%- if sleepEntryDays > 0 and sleepSum > 0 -%}
  {%- assign sleepSum = sleepSum | times: 1.0 -%}
  {%- assign sleepAve = sleepSum | divided_by: sleepEntryDays | round -%}

  {%- capture prettySleepTime -%}
    {%- include min-to-time.html timeVal=sleepAve verbose=true -%}
  {%- endcapture -%}
{%- endif -%}

{%- capture prettySleepTarget -%}
  {%- include min-to-time.html timeVal=sleepTarget verbose=true -%}
{%- endcapture -%}

{% if sleepAve > 0 %}
  <h2 id="sleep-quality">
    Sleep Quality
    {%- include return-to-top.html target="toc" -%}
  </h2>
  <ul>
    <li>Your current sleep quality goals are for an average of {{prettySleepTarget}} of sleep across {{sleepAveDays}} days.</li>
    <li>As of the latest journal post, your sleep average was <strong>{{prettySleepTime}}</strong> (from {{sleepEntryDays}} time logs). </li>
    {%- if sleepAve >= sleepTarget -%}
      <li>You are meeting or exceeding your target! Please keep it up! 😊</li>
    {%- elsif sleepAve >= sleepMin -%}
      <li>You are currently under your average sleep target. Be sure to make time to get a proper night's sleep!</li>
    {%- else -%}
      <li><strong>You are under your minimum sleep threshold!</strong> Please make an effort to get to bed early, and remember that you will not learn as effectively or retain information efficiently while tired.</li>
    {%- endif -%}
  </ul>
{% endif %}


<div id="improvements">
  {%- capture bTodo -%}
    {%- include blog-todo.md -%}
  {%- endcapture -%}
  {%- assign emptyTodoCheck = bTodo | strip | strip_newlines -%}
  {% if emptyTodoCheck != '' %}
    <h2 id="improvementsHeader">
      Blog Improvements
      {%- include return-to-top.html target="toc" -%}
    </h2>
    <div>
      {{ bTodo | markdownify }}
    </div>
  {% endif %}

  {%- capture bDone -%}
    {%- include blog-done.md -%}
  {%- endcapture -%}
  {%- assign emptyDoneCheck = bDone | strip | strip_newlines -%}
  {% if emptyDoneCheck != '' %}
    <div id="blogDone" hidden=true>
      <h3>Completed Improvements</h3>
      <div>
        {{ bDone | markdownify }}
      </div>
      <a id='hideLink' style='cursor:pointer;' onclick="hideDone()">Hide completed ↑</a>
    </div>
    <a id='showLink' style='cursor:pointer;' onclick="showDone()">Click here to see completed improvements!</a>


    <script>
      const bDoneElem = document.getElementById("blogDone");
      const sLinkElem = document.getElementById("showLink");

      function showDone() {
        bDoneElem.removeAttribute("hidden");
        sLinkElem.setAttribute("hidden", "true");
      }

      function hideDone() {
        bDoneElem.setAttribute("hidden", "true");
        sLinkElem.removeAttribute("hidden");
      }
    </script>
  {% endif %}
</div>

<h2 id="freecodecamp">
  FreeCodeCamp
  {%- include return-to-top.html target="toc" -%}
</h2>
<div>
  If you have completed everything else that you wanted to work on, or if you don't feel like working any of your existing tasks or projects, why not keep working towards certifications through <a href="https://www.freecodecamp.org/learn">FreeCodeCamp?</a>
</div>
{%- capture fcc -%}
  {%- include freecodecamp.md -%}
{%- endcapture -%}
<div id="fcc" hidden=true>
  {{ fcc | markdownify }}
  <a id='hideFcc' style='cursor:pointer;' onclick="hideFcc()">(Hide ↑)</a>
</div>
<a id='showFcc' style='cursor:pointer;' onclick="showFcc()"><br>Click here to see my current track and progress!</a>
<script>
  const fccContentElem = document.getElementById("fcc");
  const sFccLinkElem = document.getElementById("showFcc");

  function showFcc() {
    fccContentElem.removeAttribute("hidden");
    sFccLinkElem.setAttribute("hidden", "true");
  }

  function hideFcc() {
    fccContentElem.setAttribute("hidden", "true");
    sFccLinkElem.removeAttribute("hidden");
  }
</script>