---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}

      {%- if site.posts.size > 0 -%}
      {%- assign uniqCats = '' | split:',' -%}
      {%- for post in site.posts -%}
        {%- assign uniqCats = uniqCats | push: post.categories[0] -%}
      {%- endfor -%}
  
      {%- if uniqCats.size > 1 -%}
        {%- assign uniqCats = uniqCats | uniq -%}
  
        {%- if uniqCats.size > 1 -%}
          <span id="sr-postFilter" class="sr-only">Filter shown posts:</span>
          <select name="postFilter" id="postFilter" onchange="filterPosts()" aria-labelledby="sr-postFilter">
            <option value="all">All Posts</option>
            {%- for uniqCat in uniqCats -%}
              <option value="{{ uniqCat }}">{{ uniqCat | capitalize }}s</option>
            {%- endfor -%}
          </select>
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}

    </h2>

    <ul class="post-list">
      {%- for post in site.posts -%}
        <li data-category="{{post.categories[0]}}">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}&nbsp;&nbsp;||&nbsp;&nbsp;{{ post.categories[0] | capitalize }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>


<script>
  function filterPosts()  {
    const postFilter = document.getElementById("postFilter");
    const catVal = postFilter.options[postFilter.selectedIndex].value;
    let posts = document.getElementsByTagName("li");

    for(var i=0; i<posts.length; i++) {
      let catName = posts[i].getAttribute('data-category');
      console.log(catName);
      if(catName != null){
        posts[i].removeAttribute("hidden");

        if(catName != catVal && catVal != "all") {
          posts[i].setAttribute("hidden", "true");
        }
      }
    }
  }
</script>