---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {%- include load-scripts.html -%}
  {%- include onload.html -%}

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}&nbsp;&nbsp;
      </time>
      {%- if page.author -%}
        <span class="author-span" itemprop="author" itemscope itemtype="http://schema.org/Person">
          <a href="{{ site.author.site }}" class="p-author h-card" itemprop="name">{{ page.author }}</a>
          &nbsp;
        </span>
      {%- endif -%}
      {%- include time-to-read.html output="text" wordsource=content -%}
    </p>
    {%- include share-buttons.html -%}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <h2>
    Skills used:
    {%- include return-to-top.html -%}
  </h2>
  <ul>
    {%- for skill in page.skills -%}
      <a class="skill" href="/learning-log/skills#{{ skill }}" id="badges">
        <button>
          {% include icons/skill.svg %}
          {{ skill }}
        </button>
      </a>
    {%- endfor -%}
  </ul>

  <h2>
    Time spent:
    {%- include return-to-top.html -%}
  </h2>
  <ul>
    <li>
      {%- if page.timespent != "" -%}
          {%- include min-to-time.html timeVal=page.timespent verbose=true -%}
      {%- else -%}
        Unsure
      {%- endif -%}
    </li>
  </ul>

  <h2>
    References:
    {%- include return-to-top.html -%}
  </h2>
  <ul>
    {%- for reference in page.references -%}
      <li>
        <a class="extRef" href="{{ reference }}"> {{ reference }}</a>
      </li>
    {%- endfor -%}
  </ul>

  {%- include prev-next-posts.html -%}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>