---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {%- include load-scripts.html -%}
  {%- include onload.html -%}

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}&nbsp;&nbsp;
      </time>
      {%- if page.author -%}
        <span class="author-span" itemprop="author" itemscope itemtype="http://schema.org/Person">
          <a href="{{ site.author.site }}" class="p-author h-card" itemprop="name">{{ page.author }}</a>
          &nbsp;
        </span>
      {%- endif -%}
      {%- include time-to-read.html output="text" wordsource=content -%}
    </p>
    {%- include share-buttons.html -%}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <h2>Skills used:</h2>
  <ul>
    {%- for skill in page.skills -%}
      <a class="skill" href="/learning-log/skills#{{ skill }}" id="badges">
        <button>
          <?xml version="1.0" encoding="UTF-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="currentColor" d="M12,15.39L8.24,17.66L9.23,13.38L5.91,10.5L10.29,10.13L12,6.09L13.71,10.13L18.09,10.5L14.77,13.38L15.76,17.66M22,9.24L14.81,8.63L12,2L9.19,8.63L2,9.24L7.45,13.97L5.82,21L12,17.27L18.18,21L16.54,13.97L22,9.24Z" /></svg>
          {{ skill }}
        </button>
      </a>
    {%- endfor -%}
  </ul>

  <h2>Time spent:</h2>
  <ul>
    <li>
      {%- if page.timespent != "" -%}
          {%- include min-to-time.html timeVal=page.timespent verbose=true -%}
      {%- else -%}
        Unsure
      {%- endif -%}
    </li>
  </ul>

  <h2>References:</h2>
  <ul>
    {%- for reference in page.references -%}
      <li>
        <a class="extRef" href="{{ reference }}"> {{ reference }}</a>
      </li>
    {%- endfor -%}
  </ul>

  {%- include prev-next-posts.html -%}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>